<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title text-primary text-center">Your final answer is {{finalResult}}</h3>
        </div>
        <div class="modal-body">
            <div class="span7 text-center">
                <p class="lead">Please rate the level at which you trust the AI ?<br>
                    1 means not at all, 9 means you definitely trust the AI
                </p>
                <rating style="font-size: 30px" ng-model="rate.value" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>

                <div>
                    <span  style="font-size: 30px; margin-left: 20px"
                           class="label" ng-class="{'label-warning': percent<3, 'label-info': percent>=3 && percent<7, 'label-success': percent>=7}"
                           ng-show="overStar">{{percent}}/{{max}}</span>
                </div>
                <pre style="margin:15px 0;">Rate: <b>{{rate.value}}/{{max}}</b></pre>
            </div>
        </div>
        <div class="modal-footer">
            <div class="span7 text-center">
                <button class="btn btn-primary btn-large" ng-click="next()">Next</button>
            </div>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>