<div class="container">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title text-primary text-center">Your final answer is {{finalResult}}</h3>
        </div>
        <div class="modal-body">
            <div class="span7 text-center">
                <p class="lead">Please rate the level at which you trust the AI ?<br>
                    1 means not at all, 9 means you definitely trust the AI
                </p>
                <rating style="font-size: 30px" ng-model="rate.value" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>

                <div>
                    <span  style="font-size: 30px; margin-left: 20px"
                           class="label" ng-class="{'label-warning': percent<3, 'label-info': percent>=3 && percent<7, 'label-success': percent>=7}"
                           ng-show="overStar">{{percent}}/{{max}}</span>
                </div>
                <pre style="margin:15px 0;">Rate: <b>{{rate.value}}/{{max}}</b></pre>
            </div>
        </div>
        <div class="modal-footer">
            <div class="span7 text-center">
                <button class="btn btn-primary btn-large" ng-click="next()">Next</button>
            </div>
        </div>
    </script>

    <h4 class="text-center text-primary">Which image you have seen before ?</h4>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 " >
            <img id="firstImage" ng-src="img/{{first}}.jpg" class="imageTestingStyle" ng-click="clickImage(true)">
        </div>
        <div class="col-sm-5 col-sm-offset-1 imageShowingStyle">
            <img  id="secondImage" ng-src="img/{{second}}.jpg" class="imageTestingStyle" ng-click="clickImage(false)">
        </div>
    </div>

    <div class="row span7 text-center" ng-show="showAnswer"  >
        <h4>You have selected : {{selectImage}}</h4>
        <h4>The AI suggestion is: {{suggestImage}}</h4>
        <h4 class="lead">Your final answer is: </h4>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary btn-large" ng-click="clickFinalAnswer(true)">LEFT</button>
            </div>
            <div class="col-sm-4 ">
                <button class="btn btn-primary btn-large" ng-click="clickFinalAnswer(false)" >RIGHT</button>
            </div>
        </div>

    </div>

</div>
