<div class="container">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title text-primary text-center">Your final answer is {{finalResult}}</h3>
        </div>
        <div class="modal-body">
            <div class="span7 text-center">
                <p class="lead">Please rate the level at which you trust the AI ?<br>
                    0% means not at all, 100% means you definitely trust the AI
                </p>
                <rating style="font-size: 30px" ng-model="rate.value" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>

                <span  style="font-size: 30px; margin-left: 20px" class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span>
                <pre style="margin:15px 0;">Rate: <b>{{rate.value}}/{{max}}</b></pre>
            </div>
        </div>
        <div class="modal-footer">
            <div class="span7 text-center">
                <button class="btn btn-primary btn-large" ng-click="next()">Next</button>
            </div>
        </div>
    </script>

    <h1 class="text-center text-primary">Which image you have seen before ?</h1>

    <div class="row span7 text-center" style="padding-top: 20px" >
      <p class=" textCounter">{{counter}} second</p>
    </div>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 " >
            <img id="firstImage" ng-src="/img/scan.png" class="imageStyle" ng-click="clickImage(true)">
        </div>
        <div class="col-sm-5 col-sm-offset-1 imageStyle">
            <img  id="secondImage" ng-src="/img/truck.png" class="imageStyle" ng-click="clickImage(false)">
        </div>
    </div>

    <div class="row span7 text-center" style="padding-top: 20px" >
        <h4 class="lead">You have selected : {{selectImage}}</h4>
        <h4>The AI suggestion is: {{suggestImage}}</h4>
        <h3>Your final answer is: </h3>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary btn-large" ng-click="selectFinalAnswer(true)">LEFT</button>
            </div>
            <div class="col-sm-4 ">
                <button class="btn btn-primary btn-large" ng-click="selectFinalAnswer(true)" >RIGHT</button>
            </div>
        </div>

    </div>

</div>
